/* KYH START */
.mypage-contains {
	background: skyblue;
	border : 1px solid blue;
	display: inline-block;
}

.mypage-contains > div {
	position: relative;
}

.mypage-content-btn {
	margin: 10px;
	text-align: center;
}

.mypage-content-btn > button {
	background : deeppink;
	border : 1px solid lightgreen;
	margin-left : 10px;
	margin-right: 10px;
	border-radius : 0.3em;
	color : mintcream;
}

.mypage-wrap {
	margin: 20px;
}

.mypage-profile {
	margin-bottom: 5px;
	margin-top : 10px;
	margin: auto;
	height : 20%;
}

.mypage-profile > div {
	margin: 10px;
}

.mypage-portfolio-wrap {
	height: auto;
}

.mypage-img {
	float: left;
}

.profile-img {
	width : 100px;
	height: 100px;
	margin: 10px;
}

.portfolio_btn {
	float: right;
}



/* mypage content */
.mypage-content {
	margin: 10px;
	background : snow;
	height: auto;
}

.mypage-content-title-wrap {
	width: 100%;
	height : 50px;
	background : hotpink;
	color: snow;
	display: inline-block;
}


.mypage-content-title {
	position: relative;
	margin: 15px;
}

.mypage-content-body-wrap {
	margin: 15px;
	height: auto;
}

.mypage-content-body {
	margin: 3px;
    border-bottom: 1px solid black;
}

.mypage-content-body > .line-sysday {
	float: right;
	position: relative;
	top: -20px;
}

.mypage-table-line > td {
	margin-right: 1px;
	display: inline-block;
	font-size: small;
}

.mypage-table-line > .line-name {
    font-weight: bold;
    color: blue;
}

.mypage-table-line > .line-day {
	font-weight: bold;
    color: blue;
}

.mypage-table-line > .line-board {
	font-weight: bold;
    color: blue;
}


/* media mobile */
@media (max-width: 2000px) {
	.mypage-contains  {
		width: 100%; 
		height: auto;
	}
}
@media (max-width:768px) {
	.mypage-contains  {
		width: 100%; 
		height: auto;
		display: inline-block;
	}
	.mypage-contains:ONLY-OF-TYPE  {
		width: 100%; 
		margin: auto;
	}
	.mypage-contant {
		height: 100%;
	}
	
}


/* kyh end */
